body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

:root {
  --primary-color: #5f8aa3;
  --secondary-color: #496b79;
  --off-white: #f9f9f9;
  --title-font: 2em;
  --mobile-title-font: 1.5em;
  --text-font: 1.2em;
}
