.intro-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-bottom: solid 2px rgb(209, 209, 209);
}

.banner-div {
  width: 100%;
  height: 55vh;
  position: relative;
}

.banner-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.383),
    rgba(0, 0, 0, 0.06)
  );
  z-index: 1;
}

.text-on-image {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #cdd9e8;
  z-index: 2;
  font-size: 2.7em;
  text-shadow: 4px 4px 6px rgb(0, 0, 0);
  text-align: center;
}

.text-on-image::after {
  content: "";
  position: absolute;
  bottom: 0.5em;
  left: 5%;
  width: 90%;
  height: 2px;
  background-color: #cdd9e8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.subtext {
  position: relative;
  top: 0.5em;
  font-size: 0.5em;
  color: #cdd9e8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  text-align: center;
}

/* Mobile view adjustments for Intro Wrapper */
@media (max-width: 768px) {
  .intro-wrapper {
    border-bottom: solid 1px rgb(209, 209, 209);
  }

  .banner-div {
    position: relative;
    height: 30vh;
    overflow: hidden;
  }

  .banner-div img {
    height: 100%;
    width: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }

  .text-on-image {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    padding: 0.3em 1em;
    text-align: center;
    white-space: nowrap;
  }

  .text-on-image::after {
    width: 80%;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.5em;
  }

  .subtext {
    font-size: 0.7em;
    text-align: center;
    white-space: nowrap;
  }
}
