.services-section {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  margin: auto;
}

.services-content {
  display: flex;
  max-width: 1200px;
  gap: 2em;
}

.services-title-container {
  max-width: 400px;
  flex: 1;
  margin: 4em 4em;
  text-align: justify;
}

.services-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  flex: 2;
}
.line {
  width: 60px;
  height: 4px;
  background-color: #d1486b;
  margin-bottom: 0.5em;
}

.services-title {
  font-size: 2em;
  margin-bottom: 0.5em;
  padding-bottom: 0.2em;
  border-bottom: 2px solid #5f8aa3;
  text-align: center;
}

.services-description {
  font-size: 1.2em;
  color: #666;
}

.service-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1em;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  max-width: 350px;
  min-height: 150px;
}

.service-card:hover {
  transform: scale(1.05);
}

.service-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
.service-image {
  width: 40px;
  height: auto;
  margin-right: 1em;
}

.service-title {
  font-size: 1.5em;
  color: #2c3e50;
  margin: 0;
}

.service-description {
  font-size: 1.1em;
  color: #666;
}

.service-card-link {
  text-decoration: none;
  color: inherit;
}
