.why-us {
  padding: 1em;
}

.why-us-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.why-us-title {
  font-size: 2em;
  margin-left: 1em;
}

.why-us-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  justify-content: center;
}

.why-us-item {
  font-size: 1.2em;
  color: #333;
  max-width: 350px;
  text-align: justify;
  margin: 1.5em;
}

.why-us-item-title {
  font-size: 1.5em;
  margin-bottom: 1em;
  text-align: center;
}

.why-us-item-image {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.about-me-wrapper {
  display: flex;
  max-width: 1200px;
  margin: 5em auto;
  gap: 1em;
  flex-wrap: wrap;
}

.about-me-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.about-me-container,
.my-story-container {
  padding: 1em;
}

.about-me-image {
  flex: 1;
  position: relative;
  display: inline-block;
  width: 300px;
  margin: 0 auto;
  transform: translateX(5%);
}

.splatter-image {
  position: absolute;
  top: 49%;
  left: 45%;
  transform: translate(-55%, -48%) rotate(266deg);
  z-index: 1;
  width: 200%;
  max-width: 600px;
  height: auto;
  opacity: 0.8;
}

.about-me-image img[alt="Tajana"] {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
}

.about-me-title,
.my-story-title {
  font-size: 2.3em;
  margin-bottom: 0.5em;
  margin-top: 0;
}

.about-me-text,
.my-story-text {
  font-size: 1.2em;
  line-height: 1.6;
  color: #333;
  margin-bottom: 0;
  text-align: justify;
}

.my-story-container {
  flex: 2;
  text-align: justify;
}

.work-process {
  background-color: var(--off-white);
  padding: 0em 2em;
  padding-bottom: 3em;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

.container {
  position: relative;
  width: 50%;
}

.textbox {
  padding: 0em 1em;
  position: relative;
  border-radius: 6px;
  margin: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.container svg {
  position: absolute;
  right: -20px;
  top: -7px;
  z-index: 5;
  margin: 0;
}

.left-container svg {
  right: 3px;
}

.right-container svg {
  left: 0px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: var(--primary-color);
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 5;
  padding: 1em 0;
}

.work-process-title {
  margin: 0;
  margin-top: 1em;
  font-size: 2.3em;
  margin-left: 0.5em;
}

.work-process-subtitle {
  font-size: 1.2em;
  margin-left: 1em;
  margin-top: 0.2em;
  padding-top: 0.2em;
  color: #333;
  border-top: 2px solid var(--primary-color);
  width: 65%;
}

.work-process-heading {
  margin-bottom: 3em;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

.textbox p {
  font-size: 1.2em;
  color: #333;
}

.textbox h2 {
  font-size: 1.7em;
}

#right-align {
  text-align: right;
}
