.agrobiznis-page .page-header,
.agrobiznis-page .page-footer {
  background-color: #577d64;
}

.agrobiznis-page body {
  background-color: #f9f9f9;
}

.agrobiznis-page .dropdown-content {
  background-color: #577d64;
}

.agrobiznis-page .dropdown-content a:hover {
  background-color: #5f7961;
}

.intro-wrapper-agro {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-bottom: solid 2px rgb(209, 209, 209);
}

.banner-div-agro {
  width: 100%;
}

.banner-div-agro img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay-agro {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.133);
  z-index: 1;
}

.text-on-image-agro {
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #cdd9e8;
  z-index: 2;
  font-size: 2.7em;
  text-shadow: 4px 4px 6px rgb(0, 0, 0);
  white-space: nowrap;
  text-align: center;
}

.text-on-image-agro::after {
  content: "";
  position: absolute;
  bottom: 0.5em;
  left: 5%;
  width: 90%;
  height: 2px;
  background-color: #cdd9e8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.subtext-agro {
  position: relative;
  top: 0.5em;
  font-size: 0.5em;
  color: #cdd9e8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  white-space: nowrap;
}

/* Agrobiznis Content Section */
.agrobiznis-wrapper {
  max-width: 1200px;
  margin: 3em auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  align-items: stretch;
}

.agrobiznis-content {
  flex: 1.5;
  padding: 2em;
}

.agrobiznis-image-container {
  flex: 1;
  position: relative;
  max-width: 35%;
}

.agrobiznis-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.agrobiznis-title {
  font-size: 2em;
  color: #333;
  margin-bottom: 1em;
  margin-top: 0;
}

.agrobiznis-text {
  font-size: 1.1em;
  color: #444;
  line-height: 1.6em;
  margin-bottom: 1.5em;
  text-align: justify;
}

.services-section-wrapper {
  background-color: #f9f9f9;
}

.services-section-agro {
  max-width: 1200px;
  margin: 3em auto;
  padding: 2em;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-title-agro {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 0.5m;
  text-align: center;
  width: 100%;
  border-bottom: 3px solid #577d64;
  padding-bottom: 0.2em;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  width: 100%;
}

.service-card-agro {
  padding: 1.5em;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  background-color: #ffffff;
}

.service-icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 1em;
}

.service-title-agro {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 0.5em;
}

.service-description-agro {
  font-size: 1em;
  color: #444;
  line-height: 1.6em;
  text-align: justify;
}

.development-strategy-section {
  max-width: 1200px;
  margin: 3em auto;
  padding: 2em;
  text-align: center;
}

.development-strategy-title {
  font-size: 2.5em;
  color: #333;
  border-bottom: 3px solid #577d64;
  display: inline-block;
  padding-bottom: 0.2em;
}

.development-strategy-text {
  margin-top: 0;
}

.development-strategy-container {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  flex-wrap: wrap;
}

.development-card {
  flex: 1;
  min-width: 250px;
  max-width: 30%;
  padding: 1.5em;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.development-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 1em;
}

.development-card-title {
  font-size: 1.4em;
  color: #333;
  margin-bottom: 0.5em;
}

.development-description {
  font-size: 1em;
  color: #444;
  line-height: 1.6em;
  text-align: justify;
}

.development-strategy-text {
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 1em;
}

.call-to-action-wrapper {
  margin: 2em auto;
  margin-bottom: 0;
  background-color: #f9f9f9;
}

.call-to-action-section {
  padding: 2em;
  margin: 2em auto;
  border-radius: 10px;
  margin-bottom: 0;
  margin-top: 0;
  max-width: 1200px;
  text-align: justify;
}

.cta-content {
  margin: 0 auto;
}

.cta-title {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}

.cta-text {
  font-size: 1.2em;
  color: #333;
}

.contact-button-agro {
  display: inline-block;
  margin-top: 1.5em;
  padding: 0.75em 1.5em;
  background-color: #577d64;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.contact-button-agro:hover {
  background-color: #405944;
}
