.contact-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3em;
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.contact-info {
  background-color: #5f8aa3;
  color: #fff;
  padding: 1.5em;
  width: 250px;
  min-height: 500px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.185);
  z-index: 1;
  margin-left: -80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info h2 {
  font-size: 1.7em;
  padding-bottom: 4em;
  text-align: center;
  margin-bottom: 0;
}

.contact-info p {
  margin-bottom: 1em;
  text-align: center;
  margin-top: 0;
}

.contact-form-wrapper {
  background-color: #fff;
  padding: 2em 3em 2em 4.5em;
  width: 600px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.29);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
  position: relative;
  margin-left: -60px;
  min-height: 600px;
}

.contact-form h2.contact-title {
  font-size: 2em;
  color: #333;
  margin-bottom: 0.5em;
}

.contact-form p.contact-subtitle {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 1.5em;
}

.form-group {
  margin-bottom: 1em;
  width: 100%;
}

.form-group label {
  display: block;
  font-size: 0.9em;
  color: #333;
  margin-bottom: 0.5em;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 0.9em;
  color: #333;
  background-color: #f5f5f5;
}

textarea {
  resize: vertical;
  max-height: 130px;
  min-height: 130px;
  font-family: "Roboto";
}
input::placeholder,
textarea::placeholder {
  font-size: 1em;
  font-family: "Roboto";
  font-weight: 300;
}

.send-button {
  width: 100%;
  padding: 0.75em;
  background-color: #5f8aa3;
  color: #fff;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.send-button span {
  display: inline-block;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.send-button span.fade-out {
  opacity: 0;
}

.send-button span.fade-in {
  opacity: 1;
}

.send-button:hover {
  background-color: #496b79;
}

#submission-error {
  color: red;
  font-size: 0.9em;
  margin-top: 0.5em;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  visibility: hidden;
}

#submission-error.show {
  opacity: 1;
  visibility: visible;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  margin-left: 1.5em;
}

.contact-icon {
  margin-right: 0.7em;
  display: flex;
  align-items: center;
}

.contact-icon svg {
  vertical-align: middle;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5em;
    gap: 1em;
    max-width: 100%;
  }

  .contact-info {
    width: 100%;
    min-height: auto;
    margin-left: 0;
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: 1em;
  }

  .contact-form-wrapper {
    width: 100%;
    margin-left: 0;
    padding: 1.5em;
    box-sizing: border-box;
  }

  .contact-info h2 {
    font-size: 1.5em;
    padding-bottom: 2em;
  }

  .contact-info p {
    margin-bottom: 1em;
    font-size: 1em;
  }

  .contact-form h2.contact-title {
    font-size: 1.5em;
  }

  .contact-form p.contact-subtitle {
    font-size: 0.9em;
    margin-bottom: 1em;
  }

  .form-group label {
    font-size: 0.9em;
  }

  .form-group input,
  .form-group textarea {
    padding: 0.5em;
    font-size: 0.9em;
  }

  .send-button {
    padding: 0.75em;
    font-size: 1em;
  }

  .contact-item {
    margin-left: 0;
    font-size: 1em;
    flex-direction: column;
    text-align: center;
  }

  .contact-icon {
    margin-bottom: 0.5em;
  }
}
